body {
    background-color: rgb(249, 240, 232);
}
.main {
    text-align: center;
}
.hello {
    color: #868686;
    font-size: 50px;
    font-weight: bold;
}
#ibm {
    font-style: bold;
    font-size: 20px;
}