/*=============== CATEGORY ===============*/
.category {
  &__container {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem 2rem;
  }
  &__data {
    text-align: center;
    padding: 0px 3rem;

    &:hover .category__img {
      transform: translateY(-0.5rem);
    }
  }
  &__img {
    width: 200px;
    margin-bottom: var(--mb-0-75);
    transition: 0.3s;
  }
  &__title {
    margin-bottom: var(--mb-0-25);
  }
  &__social {
    &-link {
      padding: 0.25rem;
      color: var(--title-color);
    }
  }
}
