/*=============== FOOTER ===============*/
.footer {
  position: relative;
  overflow: hidden;

  &__img-one,
  &__img-two {
    position: absolute;
    transition: 0.3s;
  }

  &__img-one {
    width: 100px;
    top: 6rem;
    right: -2rem;

    &:hover {
      transform: translateY(-0.5rem);
    }
  }
  &__img-two {
    width: 150px;
    bottom: 4rem;
    right: 4rem;

    &:hover {
      transform: translateY(-0.5rem);
    }
  }

  &__container {
    row-gap: 2rem;
  }
  &__logo {
    align-self: center;
    justify-self: center;
    display: flex;
    align-items: center;
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-1);
    color: var(--title-color);

    &-img {
      width: 20px;
    }
  }
  &__description {
    margin-bottom: var(--mb-1);
  }
  &__social {
    display: flex;
    justify-content: center;
    column-gap: 0.75rem;

    &-link {
      display: inline-flex;
      padding: 0.25rem;
      border-radius: 0.25rem;
      color: var(--title-color);
    }
  }
  &__title {
    font-size: var(--h3-font-size);
    margin-bottom: var(--mb-1);
  }
  &__links {
    display: grid;
  }
  &__link {
    font-size: var(--small-font-size);
    color: var(--text-color);
    transition: 0.3s;

    &:hover {
      color: var(--title-color);
    }
  }
  &__copy {
    display: block;
    text-align: center;
    font-size: var(--smaller-font-size);
    margin-top: var(--mb-2);
  }
  &__content {
    display: grid;
    justify-content: center;
    align-content: center;
    text-align: center;

    &-box {
      padding: 15px;
      width: 100%;
      background: var(--grey);
      p {
        padding: 0;
        color: var(--title-color);
        line-height: 24px;
        font-size: var(--normal-font-size);
      }
      i {
        color: var(--first-color);
        float: left;
      }
    }
  }
}
