/*=============== REUSABLE CSS CLASSES ===============*/
.section {
  padding: 4.5rem 0 2rem;

  &__title {
    font-size: var(--h1-5-font-size);
    margin-bottom: var(--mb-2);
    text-align: center;
  }
}

/*=============== LAYOUT ===============*/
.container {
  max-width: 968px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.grid {
  display: grid;
}

.main {
  overflow: hidden; // For animation
}

.bullet li {
  padding-left: 1em;
  text-indent: -1em;
  text-align: left;
}
.bullet li::before {
  content: "●";
  padding-right: 8px;
  color: var(--title-color);
}

.animate__animated.animate__zoomIn {
  --animate-duration: 1s;
}
