.gslide-description.description-left,
.gslide-description.description-right {
  max-width: 30%;
}

.glightbox-clean {
  .gslide-title {
    font-size: var(--h1-font-size);
    font-family: var(--body-font);
    font-weight: var(--font-semi-bold);
    color: var(--title-color);
  }
  .gslide-desc {
    font-size: var(--normal-font-size);
    font-family: var(--body-font);
    line-height: 1.4em;
  }
}
.gdesc-inner {
  background: black;
}
