.project {
  &__container {
    background-repeat: no-repeat;
    background-attachment: cover;
    background-size: 100% 100%;
    border-radius: 0.5rem;
    padding: 1rem;
    overflow: hidden;
    min-height: 68vh;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    .bill-img:hover {
      z-index: 700;
    }
  }

  &__title {
    font-size: var(--h2-font-size);
    text-align: center;
  }

  &__description {
    padding: 1rem 0px;
    color: var(--title-color);

    span {
      display: block;
      font-size: var(--smaller-font-size);
      margin-top: var(--mb-0-5);
      word-spacing: 0.6rem;
    }
    li {
      padding-left: 1em;
      text-indent: -1em;
      text-align: left;
      &::before {
        content: "◉";
        padding-right: 8px;
        color: var(--title-color);
      }
    }
  }

  &__subtitle {
    display: block;
    margin-top: var(--mb-0-5);
    font-size: var(--smaller-font-size);
    margin-bottom: var(--mb-0-5);
    word-spacing: 0.6rem;
  }
  &__caption {
    display: block;
    font-size: var(--small-font-size);
    text-align: center;
    margin-bottom: var(--mb-1);
  }

  &__img {
    display: none;
  }

  &__data {
    .ysclub,
    .bill {
      font-size: var(--smaller-font-size);
    }
    .notepad {
      text-align: center;
      display: grid;
      justify-content: center;
      align-items: center;
    }
  }

  &__social {
    float: right;
    &-link {
      display: inline-flex;
      padding: 0.25rem;
      font-size: var(--normal-font-size);
      color: var(--title-color);
    }
  }

  &__box {
    &-skill {
      display: block;
      margin-top: var(--mb-0-5);
      font-size: var(--smaller-font-size);
      margin-bottom: var(--mb-0-5);
      word-spacing: 0.6rem;
    }

    &__social {
      position: absolute;
      bottom: 0;
      right: 5px;
      &-link {
        display: inline-flex;
        padding: 0.25rem;
        font-size: var(--normal-font-size);
        color: var(--title-color);
      }
    }

    &-bill {
      font-size: var(--smaller-font-size);
    }

    li {
      padding-left: 1em;
      text-indent: -1em;
      text-align: left;
      &::before {
        content: "◉";
        padding-right: 8px;
        color: var(--title-color);
      }
    }
  }
  .bill-container {
    font-weight: 600;
    background-image: linear-gradient(
        to right,
        rgba(63, 63, 63, 0.925),
        rgba(73, 73, 73, 0.685)
      ),
      url(../img/projects/billing.jpg);
  }
  .ysclub-container {
    font-weight: 600;
    background-image: linear-gradient(
        to right,
        rgba(63, 63, 63, 0.836),
        rgba(73, 73, 73, 0.589)
      ),
      url(../img/projects/ysclub.jpg);
  }
  .blogging-container {
    font-weight: 600;

    background-image: linear-gradient(
        to right,
        rgba(63, 63, 63, 0.925),
        rgba(73, 73, 73, 0.685)
      ),
      url(../img/projects/blogging.jpg);
  }
  .progress-container {
    font-weight: 600;
    background-image: linear-gradient(
        to right,
        rgba(63, 63, 63, 0.925),
        rgba(73, 73, 73, 0.685)
      ),
      url(../img/projects/progress.jpg);
  }
  .todo-container {
    font-weight: 600;
    background-image: linear-gradient(
        to right,
        rgba(63, 63, 63, 0.925),
        rgba(73, 73, 73, 0.685)
      ),
      url(../img/projects/todo.png);
  }
  .notepad-container {
    font-weight: 600;
    background-image: linear-gradient(
        to right,
        rgba(63, 63, 63, 0.925),
        rgba(73, 73, 73, 0.685)
      ),
      url(../img/projects/notepad.jpg);
  }
  .career-container {
    font-weight: 600;
    background-image: linear-gradient(
        to right,
        rgb(63, 63, 63),
        rgba(73, 73, 73, 0.842)
      ),
      url(../img/projects/career.jpg);
  }
  .coding-container {
    font-weight: 600;
    background-image: linear-gradient(
        to right,
        rgba(63, 63, 63, 0.925),
        rgba(73, 73, 73, 0.685)
      ),
      url(../img/projects/coding.jpg);
  }
}
