/*=============== TRICK OR TREAT ===============*/
.skill {
  &__container {
    grid-template-columns: repeat(1, 1fr);
    gap: 0.5rem;
    padding-top: 1rem;
    margin: 0;
  }
  &__content {
    position: relative;
    background: var(--container-color);
    border-radius: 0.5rem;
    padding: 0.5rem;
    text-align: center;
    overflow: hidden;
    transition: 0.3s;

    &:hover {
      transform: translateY(-0.5rem);
    }

    &:hover .skill__button {
      right: 0;
    }
  }
  &__img {
    width: 90px;
    transition: 0.3s;
  }
  &__subtitle,
  &__price {
    display: block;
  }
  &__subtitle {
    font-size: var(--smaller-font-size);
    margin-bottom: var(--mb-0-5);
    word-spacing: 0.6rem;
    span {
      word-spacing: initial;
    }
  }
  &__title,
  &__price {
    color: var(--title-color);
    font-weight: var(--font-medium);
    font-size: var(--normal-font-size);
  }
  &__button {
    display: inline-flex;
    padding: 0.5rem;
    border-radius: 0.25rem 0.25rem 0.75rem 0.25rem;
    position: absolute;
    right: -3rem;
    bottom: 0;
  }
  &__icon {
    font-size: 1.25rem;
    color: var(--title-color);
  }
}
